footer {
	width: 100%;
	margin: 0;
	padding: 15px 0;
	text-align: center;
	display: inline-block;
	justify-content: center;
	align-content: center;
	max-height: 13vh;
}
.copyright {
	font-weight: 700;
	margin-bottom: 10px;
}

.list-unstyled {
	padding-left: 0;
	list-style: none;
}
.list-inline li {
	display: inline-block;
	vertical-align: middle;
	padding: 10px;
}

.social-icons .fab {
	font-size: 1.5em;
}
.social-icons .fab {
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #fff;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.social-icons.icon-circle .fab {
	border-radius: 50%;
}

.social-icons.icon-zoom .fab:hover,
.social-icons.icon-zoom .fab:active {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}

.social-icons .fa-github,
.social-icons .fa-github-alt,
.social-icons .fa-github-square {
	background-color: #070709;
}
.social-icons .fa-linkedin,
.social-icons .fa-linkedin-square,
.social-icons .fa-linkedin-in {
	background-color: #0085ae;
}
.social-icons .fa-twitter,
.social-icons .fa-twitter-square {
	background-color: #32ccfe;
}
.social-icons .fa-patreon {
	background-color: #ff9100;
}
.social-icons .fa-codepen {
	color: black;
	background-color: #ffffff;
}
