nav {
  width: 40px;
  height: 25px;
  margin: auto 25px;
}
.icon {
  width: 100%;
  height: 100%;
  position: relative;
  margin: auto 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 05s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  margin-right: 25px;
  z-index: 10;
}
.icon span {
  display: block;
  position: absolute;
  z-index: 5;
  height: 6px;
  width: 100%;

  border-radius: 5px;
  opacity: 1;
  right: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.icon span:nth-child(1) {
  top: 0px;
  width: 35px;
  background-color: var(--red);
}

.icon span:nth-child(2),
.icon span:nth-child(3) {
  top: 12.5px;
  width: 25px;
  background-color: var(--blue);
}

.icon span:nth-child(4) {
  top: 25px;
  width: 40px;
  background-color: var(--yellow);
}
/* .icon.iconActive {
  background-color: rgb(31, 31, 31);
} */
.icon.iconActive span:nth-child(1) {
  top: 23px;
  width: 0%;
  right: 50%;
}

.icon.iconActive span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 100%;
  background-color: white;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.45);
}

.icon.iconActive span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 100%;
  background-color: white;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.45);
}

.icon.iconActive span:nth-child(4) {
  top: 18px;
  width: 0%;
  right: 50%;
}

.list {
  display: flex;
  flex-direction: column;
  right: 1%;
  padding: 75px 0 0;
  flex-wrap: nowrap;
}

.list .listItem {
  margin: 0;
}

.list .listItem li {
  margin: 2px 25px;
  cursor: pointer;
  transition: 0.25s ease-in-out;
  font-size: 4rem;
  font-weight: 600;
  color: white;
  transition-delay: 0.25s;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.45);
  text-align: right;
  z-index: 10;
}
.list .listItem li:hover {
  font-size: 4.5rem;
}

.menuOpen {
  height: 100vh;
  position: absolute;
  margin: 0;
  top: 0;
  right: 0;
  background-color: var(--yellow);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 45% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 45% 100%);
  width: 30%;
  transition: 0.25s right cubic-bezier(0.77, 0, 0.175, 1);
  z-index: 9;
}
.menuOpen::after {
  height: 100vh;
  position: absolute;
  margin: 0;
  top: 0;
  right: 0;
  background-color: var(--red);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%);
  clip-path: polygon(20% 0, 100% 0, 100% 100%, 45% 100%);
  width: 100%;
  transition: 0.25s right cubic-bezier(0.77, 0, 0.175, 1);
  z-index: -1;
  content: "";
}
.menuOpen::before {
  height: 100vh;
  position: absolute;
  margin: 0;
  top: 0;
  right: 0;
  background-color: var(--blue);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 55% 100%);
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 45% 100%);
  width: 100%;
  transition: 0.25s right cubic-bezier(0.77, 0, 0.175, 1);
  content: "";
  z-index: -1;
}

.menu.menuClose {
  position: absolute;
  right: -30%;
  height: 100vh;
  top: 0;
  background-color: var(--yellow);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 45% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 45% 100%);
  width: 30%;
  transition: 0.25s right cubic-bezier(0.77, 0, 0.175, 1);
  z-index: 4;
}

.menuClose::after {
  height: 100vh;
  position: absolute;
  margin: 0;
  top: 0;
  right: 0;
  background-color: var(--red);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%);
  clip-path: polygon(20% 0, 100% 0, 100% 100%, 45% 100%);
  width: 100%;
  transition: 0.25s right cubic-bezier(0.77, 0, 0.175, 1);
  z-index: -1;
  content: "";
  transition-delay: 6s;
}
.menuClose::before {
  height: 100vh;
  position: absolute;
  margin: 0;
  top: 0;
  right: 0;
  background-color: var(--blue);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 55% 100%);
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 45% 100%);
  width: 100%;
  transition: 0.25s right cubic-bezier(0.77, 0, 0.175, 1);
  content: "";
  z-index: -1;
  transition-delay: 3s;
}

@media screen and (max-width: 1200px) {
  .menu.menuOpen {
    width: 45%;
  }
  .menu.menuClose {
    right: -45%;
  }
  .list .listItem li {
    font-size: 3.5rem;
  }
  .list .listItem li:hover {
    font-size: 4rem;
  }
}
@media screen and (max-width: 768px) {
  .menu.menuOpen {
    width: 45%;
  }
  .menu.menuClose {
    right: -45%;
  }
  .list .listItem li {
    font-size: 2.5rem;
  }
  .list .listItem li:hover {
    font-size: 2.7rem;
  }
}
@media (max-width: 480px) {
  .menu.menuOpen {
    width: 80%;
  }
  .menu.menuClose {
    right: -80%;
  }
  .list .listItem li {
    font-size: 3rem;
  }
  .list .listItem li:hover {
    font-size: 3.2rem;
  }
}
