.feedback-container {
  width: min(100% - 75px, 750px);
  border: 5px solid var(--red);
  border-top: none;
  overflow-x: visible;
  border-radius: 0 0 25px 25px;
  background-color: var(--bg2);
}

.feedback-container .swiper-button-prev,
.feedback-container .swiper-button-next {
  color: white;
}

.single-feedback {
  color: black;
  position: relative;
  background-color: var(--white);
  width: min(100% - 25px, 450px);
  margin: 10px auto;
  border-radius: 25px;
}

.single-feedback .img-feedback {
  background-color: white;
  border-radius: 25px;
  padding: 5px;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  left: -55px;
  top: 50%;
  transform: translateY(-50%);
}

.single-feedback .img-feedback img {
  object-fit: contain;
  width: calc(100% - 15px);
  height: calc(100% - 15px);
}

.single-feedback .text-feedback {
  margin: 0 25px 0 50px;
  padding: 10px;
}

.single-feedback .text-feedback h3 {
  font-size: 1.5rem;
}

.single-feedback .text-feedback p {
  font-style: italic;
  font-size: 1.1rem;
  margin: auto;
}

@media screen and (max-width: 740px) {
  .single-feedback {
    margin-top: 55px;
  }
  .single-feedback .img-feedback {
    top: -55px;
    left: 50%;
    transform: translateX(-50%);
  }
  .single-feedback .text-feedback {
    text-align: center;
    padding-top: 50px;
    margin: 0;
  }
}

@media screen and (max-width: 625px) {
  .feedback-container {
    width: min(100% - 25px, 450px);
    margin-top: -25px;
    z-index: 1;
  }
  .single-feedback {
    width: min(100% - 80px, 450px);
    margin-top: 80px;
  }
}
