.feedback-container {
  width: min(100% - 25px, 750px);
  border: 5px solid var(--red);
  border-top: none;
  overflow-x: visible;
  border-radius: 0 0 25px 25px;
  background-color: var(--bg2);
}

.feedback-container .swiper-button-prev,
.feedback-container .swiper-button-next {
  color: white;
}

.feedback-container .swiper-pagination {
  bottom: 0;
}

.feedback-container .swiper-pagination .swiper-pagination-bullet {
  transform: scale(1);
  transition: 0.25s ease-in-out;
  background-color: white;
  width: 25px;
  border-radius: 10px;
}
.feedback-container .swiper-pagination .swiper-pagination-bullet-active {
  transform: scale(1.2);
  background-color: white;
}
.single-feedback {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.single-feedback div {
  margin: 0 auto;
}

.single-feedback .img-feedback {
  background-color: white;
  border-radius: 25px;
  padding: 5px;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.single-feedback .img-feedback img {
  object-fit: contain;
  width: calc(100% - 15px);
  height: calc(100% - 15px);
}

.single-feedback .text-feedback {
  width: min(100% - 25px, 450px);
  margin-bottom: 25px;
}

.single-feedback .text-feedback h3 {
  font-size: 1.5rem;
  margin-top: 10px;
}

.single-feedback .text-feedback p {
  font-style: italic;
  font-size: 1.1rem;
  margin: auto;
}
