:root {
	font-family: "Ubuntu", sans-serif;
}

.btn {
	padding: 8px 20px;
	border-radius: 50px;
	outline: none;
	border: none;
	cursor: pointer;
}

.btn--primary {
	background-color: #fff;
	color: var(--bg);
	border: 3px solid #fff;
}

.btn--outline {
	background-color: transparent;
	color: white;
	border: 3px solid #fff;
	padding: 8px 20px;
	transition: all 0.3s ease-out;
}

.btn--fiverr {
	background-color: #1dbf73;
	color: var(--bg);
	transition: all 0.3s ease-out;
}

.btn--fiverr:hover {
	background-color: #11e682;
}

.btn-medium {
	padding: 8px 20px;
	font-size: 20px;
}

.btn--large {
	padding: 12px 26px;
	font-size: 20px;
	font-weight: bold;
}

.btn--outline:hover {
	background-color: white;
	color: var(--bg);
	transition: all 0.3s ease-out;
}
