.feedback-container {
	width: 45%;
	/* border: 2px solid white; */
	position: relative;
	overflow-x: visible;
}

@media screen and (max-width: 1024px) {
	.feedback-container {
		width: 60%;
	}
}

@media screen and (max-width: 768px) {
	.feedback-container {
		width: 90%;
	}
}

.feedback-container .swiper-button-prev,
.feedback-container .swiper-button-next {
	color: white;
}

.feedback-container .swiper-pagination {
	bottom: -10px;
}

.feedback-container .swiper-pagination .swiper-pagination-bullet {
	transform: scale(1);
	transition: 0.25s ease-in-out;
	background-color: white;
	width: 25px;
	border-radius: 10px;
}
.feedback-container .swiper-pagination .swiper-pagination-bullet-active {
	transform: scale(1.2);
	background-color: white;
}
.single-feedback {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	text-align: center;
	margin: 35px auto;
}

.single-feedback div {
	padding: auto;
	background-color: white;
	border-radius: 50%;
	width: 90px;
	height: 90px;
	margin: 0 auto;
}

.single-feedback div img {
	width: 75px;
	height: 75px;
	object-fit: contain;
	object-position: center;
}
.single-feedback h3 {
	font-size: 1.5rem;
	margin-top: 10px;
}

.single-feedback p {
	font-style: italic;
	font-size: 1.1rem;
	margin: auto;
}
