.project-card {
	width: 300px;
	height: 400px;
	border: 2px solid white;
	display: flex;
	flex-direction: column;
	border-radius: 15px;
	overflow: hidden;
	background-color: white;
	color: var(--bg);
	margin: 5px;
	position: relative;
}

.project-card .card-head {
	width: 100%;
	height: auto;
	background-color: var(--bg);
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-content: center;
}

.project-card .card-head img {
	width: 100%;
	height: 148px;
	object-fit: contain;
	object-position: center center;
}

.project-card .card-body {
	width: 100%;
	padding: 10px;
}

.project-card .card-body .icon {
	height: 1.4rem;
	width: auto;
	margin: 0 5px;
}
.project-card .card-body .icon:first-child {
	margin-left: 0;
}

.project-card .card-body h3 {
	font-size: 1.3rem;
	text-transform: uppercase;
	margin-top: 5px;
	margin-bottom: 5px;
}

.project-card .card-body p {
	text-align: left;
	margin: 0;
	width: auto;
	font-size: 1.1rem;
}

.project-card .card-footer {
	padding: 0 10px;
	position: absolute;
	bottom: 5px;
	right: 5px;
}
.project-card .card-footer a {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-content: center;
	color: var(--bg);
}
.project-card .card-footer a span {
	margin-right: 5px;
	font-weight: bold;
}
.project-card .card-footer a i {
	font-size: 25px;
	margin-top: -2px;
}

.project-card:first-child {
	width: 100%;
	flex-direction: row;
	height: auto;
}
.project-card:first-child .card-head {
	height: 100%;
	width: 50%;
}
.project-card:first-child .card-head img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center center;
}
.project-card:first-child .card-body {
	width: 50%;
	padding: 10px;
}

@media screen and (max-width: 970px) {
	.project-card:first-child {
		width: 300px;
		height: 400px;
		flex-direction: column;
	}
	.project-card:first-child .card-head {
		width: 100%;
		height: auto;
		overflow: hidden;
	}
	.project-card:first-child .card-head img {
		width: 100%;
		height: 148px;
		object-fit: contain;
		object-position: top center;
	}
	.project-card:first-child .card-body {
		width: 100%;
		padding: 10px;
	}
}
