.services-card {
	width: 350px;
	min-height: 250px;
	max-height: 250px;
	border: 2px solid white;
	border-radius: 10px;
	overflow: hidden;
	margin: 10px;
	position: relative;
}

.services-card .card-header {
	width: 100%;
	height: 100px;
	/* border: 1px solid darkgrey; */
	background-color: darkgrey;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
	clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
}

.services-card .card-body {
	width: 100%;
	padding: 0 15px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
}
.services-card .card-body h2 {
	font-size: 20px;
}
.services-card .card-body p {
	font-size: 15px;
	margin-bottom: 5px;
	width: auto;
}
.services-container .services-card .card-footer {
	padding: 0 10px;
	position: absolute;
	bottom: 5px;
	right: 5px;
}
.services-card .card-footer a {
	cursor: pointer;
	display: flex;
	align-content: center;
	justify-content: flex-end;
}
.services-card .card-footer a span {
	margin-right: 5px;
}
.services-card .card-footer a i {
	font-size: 25px;
	margin-top: -2.5px;
}
