/* Colers in variables */
.about {
	width: calc(100% - 15px);
	margin: 25px 0;
	display: block;
	margin-top: 8vh;
}
@media screen and (max-width: 750px) {
	.about {
		width: 100%;
	}
}

.about h1 {
	margin: 0;
	padding: 0;
	font-size: 55px;
	text-align: center;
}
@media screen and (max-width: 750px) {
	.about h1 {
		font-size: 30px;
	}
}
.about .line {
	width: 75%;
}

/* Cards Person */
.info-contianer {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 50px auto;
}
.info-contianer .wrapp {
	width: auto;
	display: flex;
	justify-content: center;
	align-content: center;
}
@media screen and (max-width: 768px) {
	.info-contianer {
		width: 90%;
	}
	.info-contianer .wrapp {
		width: auto;
		flex-direction: column;
	}
}
.card-contianer {
	border-radius: 10px;
	/* width: 285px; */
	/* border: 1px solid white; */
	min-width: 270px;
	max-width: 270px;
	background-color: white;
	margin: 0 auto;
	z-index: 4;
	-webkit-box-shadow: 5px 0 20px black;
	box-shadow: 5px 0 20px black;
	transition: 0.25s ease-in-out;
}
@media screen and (max-width: 768px) {
	.card-contianer {
		box-shadow: 0 5px 20px black;
	}
}

.card-contianer img {
	min-width: 270px;
	max-width: 270px;
	height: 200px;
	object-fit: cover;
	object-position: 50% 60%;
	border-radius: 10px;
	transform: scale(0.95);
}

.card-contianer .info {
	display: flex;
	margin: 10px;
	margin-top: -2px;
	flex-direction: column;
	flex-wrap: wrap;
	color: #1e1e2b;
}

.card-contianer .info li {
	margin: 5px 0;
}

.slide-contianer {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto 0;
	max-height: 355px;
	height: 355px;
	width: 100%;
	overflow: hidden;
	color: var(--bg);
}

.slide-contianer2 {
	display: none;
	color: var(--bg);
}

.slide-contianer .aboutme,
.slide-contianer2 .aboutme {
	background-color: var(--red);
	z-index: 3;
	position: relative;
	padding: 10px;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	border-radius: 0 10px 10px 0;
	transition: 0.25s ease-in-out;
}
.slide-contianer2 .aboutme {
	border-radius: 10px;
}

.slide-contianer .aboutme h2,
.slide-contianer2 .aboutme h2 {
	margin-bottom: 5px;
	margin-top: 10px;
}

.slide-contianer .aboutme p,
.slide-contianer2 .aboutme p {
	text-align: justify;
	text-align-last: left;
	line-height: 25px;
	overflow-y: auto;
}

.slide-contianer .hobby,
.slide-contianer2 .hobby {
	background-color: var(--blue);

	z-index: 2;
	position: relative;
	padding: 10px;
	display: flex;
	width: 100%;
	height: 100%;
	border-radius: 0 10px 10px 0;
	transition: 0.25s ease-in-out;
	flex-direction: column;
}
.slide-contianer .hobby::after,
.slide-contianer2 .hobby::after {
	content: "";
	background-color: var(--blue);
	position: absolute;
	height: 100%;
	width: 20px;
	top: 0;
	left: -10px;
}
.slide-contianer .hobby h2,
.slide-contianer2 .hobby h2 {
	margin-bottom: 5px;
	margin-top: 10px;
}
.slide-contianer .hobby .iconhobby,
.slide-contianer2 .hobby .iconhobby {
	display: block;
	text-align: center;
}
.slide-contianer .hobby ul,
.slide-contianer2 .hobby ul {
	overflow-y: auto;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
}
.slide-contianer .hobby ul li,
.slide-contianer2 .hobby ul li {
	display: flex;
	flex-direction: column;
	width: 100px;
	height: auto;
	font-size: 15px;
	margin: 5px 10px;
}
.slide-contianer2 .hobby ul li {
	width: 100px;
	height: auto;
}
.slide-contianer .hobby ul li i {
	font-size: 40px;
	margin-bottom: 0.5px;
}
.slide-contianer2 .hobby ul li i {
	margin-bottom: 0.5px;
	font-size: 20px;
}
.slide-contianer .hobby ul li label,
.slide-contianer2 .hobby ul li label {
	margin-bottom: 0;
	/* padding: 0; */
}
.slide-contianer .comunication,
.slide-contianer2 .comunication {
	background-color: var(--yellow);
	z-index: 1;
	position: relative;
	padding: 10px;
	width: 100%;
	height: 100%;
	border-radius: 0 10px 10px 0;
	transition: 0.25s ease-in-out;
	flex-direction: column;
}
.slide-contianer .comunication::after,
.slide-contianer2 .comunication::after {
	content: "";
	background-color: var(--yellow);
	position: absolute;
	height: 100%;
	width: 20px;
	top: 0;
	left: -10px;
}
.slide-contianer .comunication h2,
.slide-contianer2 .comunication h2 {
	margin-bottom: 5px;
	margin-top: 10px;
}

.slide-contianer .comunication .iconcom {
	display: block;
	text-align: center;
}
.slide-contianer .comunication ul,
.slide-contianer2 .comunication ul {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
}
.slide-contianer .comunication ul li,
.slide-contianer2 .comunication ul li {
	display: flex;
	flex-direction: column;
	width: 100px;
	height: auto;
	font-size: 15px;
	margin: 5px 10px;
	/* border: 2px black solid; */
	/* padding: 5px; */
}
.slide-contianer2 .comunication ul li {
	width: 100px;
	height: auto;
}
.slide-contianer .comunication ul li i {
	font-size: 40px;
	margin-bottom: 0.5px;
}
.slide-contianer2 .comunication ul li i {
	margin-bottom: 0.5px;
	font-size: 25px;
}
.slide-contianer .comunication ul li label,
.slide-contianer2 .comunication ul li label {
	margin-bottom: 0;
	/* padding: 0; */
}

.slide-contianer .aboutme.close,
.slide-contianer .hobby.close,
.slide-contianer .comunication.close,
.slide-contianer2 .aboutme.close,
.slide-contianer2 .hobby.close,
.slide-contianer2 .comunication.close {
	width: auto;
	padding: 10px;
	transition: 0.25s ease-in-out;
	cursor: pointer;
}
.slide-contianer .aboutme.close h2,
.slide-contianer .hobby.close h2,
.slide-contianer .close h2,
.slide-contianer2 .aboutme.close h2,
.slide-contianer2 .hobby.close h2,
.slide-contianer2 .comunication.close h2 {
	writing-mode: vertical-rl;
	transition: 0.25s ease-in-out;
	margin-top: 15px;
}

.slide-contianer .aboutme.close p,
.slide-contianer .hobby.close ul,
.slide-contianer .comunication.close ul,
.slide-contianer2 .aboutme.close p,
.slide-contianer2 .hobby.close ul,
.slide-contianer2 .comunication.close ul {
	width: 0%;
	right: 50%;
	display: none;
	transition: 0.25s ease-in-out;
}

@media screen and (max-width: 768px) {
	.slide-contianer {
		display: none;
	}
	.slide-contianer2 {
		position: relative;
		display: flex;
		margin: auto 0;
		margin-top: -8px;
		max-height: 355px;
		height: 355px;
		width: 100%;
		overflow: hidden;
	}
}

.skill-contianer,
.language {
	width: 100%;
	padding: 25px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

/* Font-size h2 */
.skill-contianer h2,
.language h2,
.timeline-container h2 {
	margin: 0 auto;
	margin-bottom: 5px;
	width: 50%;
	text-align: center;
}

/* Line */
.about .skill-contianer .line,
.about .language .line,
.about .timeline-container .line {
	width: 45%;
	margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
	.about .skill-contianer .line,
	.about .language .line,
	.about .timeline-container .line {
		width: 75%;
	}
}

/* Card Skill */
.cards-contianer {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

/* Timeline */

.timeline-container {
	width: 100%;
	overflow: hidden;
	position: relative;
}

.timeline-container .wrapper-time {
	overflow-x: scroll;
	width: 95%;
	margin: 0 auto;
	position: relative;
	overflow-y: hidden;
}

.timeline-container .wrapper-time .expericens-contianer {
	margin-bottom: 10px;
	display: flex;
	flex-wrap: nowrap;
}
.timeline-container .wrapper-time .expericens-contianer .card-experiences {
	min-width: 320px;
	/* border: 2px solid white; */
	padding: 15px;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.exper-info {
	border: 5px solid #005670;
	border-radius: 25px;
	padding: 15px;
	color: #1e1e2b;
	background-color: #d3d3d3;
	margin-bottom: 25px;
	max-height: 300px;
	overflow-y: auto;
	scrollbar-width: 0;
	scrollbar-color: #57577a #1e1e2b;
}
.exper-info::-webkit-scrollbar {
	width: 0;
}
.exper-info h3 {
	margin-bottom: 5px;
	font-size: 25px;
}
.exper-info data {
	color: #005670;
	font-weight: 600;
}
.exper-info label {
	color: #005670;
	font-weight: 600;
}
.exper-info p {
	margin-top: 5px;
	text-align: justify;
	text-align-last: left;
	z-index: 3;
}
.exper-info::after {
	content: "";
	width: 75px;
	height: 25px;
	-webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
	clip-path: polygon(50% 100%, 0 0, 100% 0);
	background-color: #005670;
	position: absolute;
	left: 5;
	bottom: 88px;
	transform: scale(0.75);
	z-index: 1;
}
.exper-info::before {
	content: "";
	width: 75px;
	height: 25px;
	-webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
	clip-path: polygon(50% 100%, 0 0, 100% 0);
	background-color: #d3d3d3;
	position: absolute;
	left: 5;
	bottom: 93.5px;
	transform: scale(0.75);
	z-index: 2;
	/* border-top: 2px black solid; */
}
.time-line {
	/* border: 2px solid white; */
	position: relative;
}
.time-line .year {
	width: 60px;
	height: 60px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	margin-left: 27px;
	box-sizing: border-box;
	border-radius: 50%;
	background: #00a2d3;
	padding-top: 17px;
	color: #1e1e2b;
	position: relative;
	z-index: 2;
	/* border: 5px solid #1e1e2b; */
}
.time-line hr {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 30px;
	width: 400px;
	height: 7px;
	z-index: 1;
	background-color: #00a2d3;
	border: none;
}

.timeline-container
	.wrapper-time
	.expericens-contianer
	.card-experiences:last-child
	.time-line
	hr {
	display: none;
}
