.contact {
	margin-top: 8vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.contact h1 {
	margin: 0;
	padding: 0;
	font-size: 55px;
	text-align: center;
}

.contact p {
	margin: 15px auto;
	font-size: 25px;
}

.contact form {
	width: 55%;
	margin: 15px auto;
	height: 63.5vh;
	display: flex;
	flex-direction: column;
	font-size: 35px;
	color: white;
	font-family: "Ubuntu", sans-serif;
	position: relative;
}

input,
textarea {
	border: none;
	background: transparent;
	padding: 1rem;
	border-bottom: 3px solid white;
	margin: 15px;
	color: white;
	font-size: 1.8rem;
	transition: 0.25s ease-in-out;
	width: 100%;
}

textarea {
	min-height: 225px;
	resize: none;
}

input:focus,
textarea:focus {
	outline: none;
	animation: border 10s infinite linear;
}

@keyframes border {
	0% {
		border-bottom: 3px solid #ca1b1b;
	}
	25% {
		border-bottom: 3px solid #1b5eca;
	}
	75% {
		border-bottom: 3px solid #cab01b;
	}
	100% {
		border-bottom: 3px solid #ca1b1b;
	}
}

::placeholder {
	font-size: 25px;
	font-family: "Ubuntu", sans-serif;
	color: rgba(216, 216, 216, 1);
}

form .button-contianer {
	width: 100%;
	position: relative;
	border: 1px white solid;
	margin: 15px;
}

form .button-contianer Button {
	float: right;
}
