.home {
  width: 100%;
  height: 100vh;
  max-height: 78vh;
  display: flex;
}
.home .max-width {
  margin: auto 0 auto 100px;
}
.home .home-content .static-txt-1 {
  font-size: 27px;
}
.home .home-content .static-txt-2 {
  font-size: 50px;
  font-weight: 600;
  margin-left: -3px;
}
.wrapper {
  display: inline-flex;
}
.wrapper .static-txt-3 {
  font-size: 35px;
  margin: 5px 0;
}
.wrapper .dynamic-txts {
  margin: 0;
  margin-left: -30px;
  margin-top: -5px;
  height: 60px;
  line-height: 60px;
  overflow: hidden;
  /* background-color: white; */
  z-index: -1;
}
@media screen and (max-width: 320px) {
  .wrapper .dynamic-txts {
    margin-left: -190px;
    margin-top: 40px;
  }
  .home .max-width {
    margin: auto 0 auto 15px;
  }
}
@media screen and (max-width: 360px) {
  .wrapper .dynamic-txts {
    margin-left: -190px;
    margin-top: 40px;
  }
  .home .max-width {
    margin: auto 0 auto 15px;
  }
}
@media screen and (max-width: 415px) {
  .home .max-width {
    margin: auto 0 auto 15px;
  }
}
@media screen and (max-width: 770px) {
  .home .max-width {
    margin: auto 0 auto 15px;
  }
}
@media screen and (max-width: 280px) {
  .wrapper .dynamic-txts {
    margin-left: -169px;
    margin-top: 30px;
  }
  .home .max-width {
    margin: auto 0 auto 10px;
  }
  .home .home-content .static-txt-2 {
    font-size: 40px;
  }
  .home .home-content .static-txt-3 {
    font-size: 30px;
  }
}

.wrapper .dynamic-txts li {
  font-size: 40px;
  font-weight: 500;
  margin: 0;
  list-style: none;
  position: relative;
  top: 0;
  animation: slide 6s steps(3) infinite;
}

@keyframes slide {
  100% {
    top: -180px;
  }
}
.dynamic-txts li span {
  position: relative;
}
.dynamic-txts li span::after {
  content: "";
  position: absolute;
  left: 0;
  top: 3px;
  height: 100%;
  width: 100%;
  background-color: rgb(30, 30, 43);
  /* background-color: rgba(255, 255, 255, 0.452); */
  animation: typing 2s steps(10) infinite;
}
.dynamic-txts li:nth-child(1) {
  color: rgb(255, 66, 66);
  text-shadow: 0 0 10px rgba(255, 171, 171, 0.55);
}
.dynamic-txts li:nth-child(1) span::after {
  border-left: 2px solid rgb(255, 66, 66);
}
.dynamic-txts li:nth-child(2) {
  color: rgb(66, 170, 255);
  text-shadow: 0 0 10px rgba(171, 228, 255, 0.55);
}
.dynamic-txts li:nth-child(2) span::after {
  border-left: 2px solid rgb(66, 170, 255);
}
.dynamic-txts li:nth-child(3) {
  color: rgb(255, 189, 66);
  text-shadow: 0 0 10px rgba(255, 235, 171, 0.55);
}
.dynamic-txts li:nth-child(3) span::after {
  border-left: 2px solid rgb(255, 189, 66);
}

@keyframes typing {
  40%,
  60% {
    left: 100%;
    margin: 0 -35px 0 35px;
  }
  100% {
    left: 0;
  }
}

.button {
  margin-top: 10px;
}
.button Button {
  margin: 5px 5px;
}
