.services {
	height: calc(100vh - 8vh - 12vh);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: center;
	margin-top: 8vh;
	text-align: center;
	width: 100%;
}

.services h1 {
	margin: 0;
	padding: 0;
	font-size: 55px;
	text-align: center;
	margin-bottom: 15px;
}

.services .line {
	width: 75%;
}

.services p {
	margin: 10px auto;
	font-size: 20px;
	text-align: center;
	width: 70%;
}

.services .services-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	padding: 25px;
}
