.servicepage {
	min-height: calc(100vh - 8vh - 13vh);
	margin-top: 8vh;
	width: calc(100% - 15px);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.servicepage h1 {
	margin: 0;
	padding: 0;
	font-size: 55px;
	text-align: center;
	margin-bottom: 15px;
}

.servicepage .line {
	width: 75%;
}

.servicepage .info {
	margin: 10px auto;
	font-size: 20px;
	text-align: center;
	width: 70%;
}

.servicepage .info2 {
	width: 70%;
	margin: 5px auto;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

.step {
	width: 55%;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 10px 0;
	position: relative;
	min-height: 150px;
}
.step:nth-child(odd) {
	flex-direction: row-reverse;
}

.step span {
	font-size: 8em;
	font-weight: bold;
	color: rgba(255, 255, 255, 0.15);
	margin: 0;
	padding: 0;
	position: absolute;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 1;
}

.step .text {
	flex-direction: column;
	padding-left: 7em;
	z-index: 2;
	margin-bottom: 5px;
}

.step:nth-child(odd) .text {
	padding-left: 0;
	padding-right: 7em;
	text-align: right;
}
.step h2 {
	margin-bottom: 5px;
}

.step img {
	min-height: 150px;
	height: 300px;
	width: auto;
}

@media screen and (max-width: 1024px) {
	.step {
		width: 75%;
		flex-direction: column;
		text-align: center;
		justify-content: center;
		padding: 50px;
		padding-bottom: 0;
	}
	.step:nth-child(odd) {
		flex-direction: column;
	}
	.step span {
		top: -25px;
	}
	.step .text {
		text-align: center;
		padding: 0;
	}
	.step:nth-child(odd) .text {
		padding: 0;
		text-align: center;
	}
	.step img {
		height: 150px;
	}
}

@media screen and (max-width: 768px) {
	.servicepage {
		width: 100%;
	}
	.step {
		width: 90%;
	}
}

@media screen and (max-width: 480px) {
	.step {
		padding: 25px;
		padding-top: 50px;
		padding-bottom: 0;
	}
}

.servicepage .btn img {
	height: 50px;
	width: auto;
	filter: brightness(2000%);
}
