nav {
  width: 40px;
  height: 25px;
  margin: auto 0;
  padding-right: 25px;
}
.icon {
  width: 100%;
  height: 100%;
  position: relative;
  margin: auto 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 05s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  margin-right: 25px;
  z-index: 2;
}
.icon span {
  display: block;
  position: absolute;
  z-index: 4;
  height: 6px;
  width: 100%;

  border-radius: 5px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.icon span:nth-child(1) {
  top: 0px;
  width: 35px;
  background: rgb(185, 0, 0);
}

.icon span:nth-child(2),
.icon span:nth-child(3) {
  top: 12.5px;
  width: 25px;
  background: rgb(0, 113, 148);
}

.icon span:nth-child(4) {
  top: 25px;
  width: 40px;
  background: rgb(255, 251, 0);
}
/* .icon.iconActive {
  background-color: rgb(31, 31, 31);
} */
.icon.iconActive span:nth-child(1) {
  top: 23px;
  width: 0%;
  left: 50%;
}

.icon.iconActive span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 100%;
  background-color: white;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.45);
}

.icon.iconActive span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 100%;
  background-color: white;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.45);
}

.icon.iconActive span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.list {
  display: flex;
  flex-direction: column;
  left: 1%;
  padding: 75px 0 0;
  flex-wrap: nowrap;
}

.list .listItem {
  list-style: none;
  margin: 0;
}

.list .listItem li {
  margin: 2px -10px;
  cursor: pointer;
  transition: 0.25s ease-in-out;
  font-size: 4rem;
  font-weight: 600;
  color: white;
}
.list .listItem li:hover {
  font-size: 4.5rem;
}

.menu.menuOpen {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  background: rgb(43, 43, 43);
  -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
  width: 30%;
  transition: 0.25s left cubic-bezier(0.77, 0, 0.175, 1);
}
@media (max-width: 970px) {
  .menu.menuOpen {
    width: 30%;
  }
  .list .listItem li {
    font-size: 3rem;
    margin: 2px -10px;
  }
  .list .listItem li:hover {
    font-size: 3rem;
  }
}
@media (max-width: 750px) {
  .menu.menuOpen {
    width: 75%;
  }
  .list .listItem li {
    font-size: 1em;
    margin: 2px -10px;
  }
  .list .listItem li:hover {
    font-size: 1em;
  }
}
/* @media (max-width: 540px) {
  .menu.menuOpen {
    width: 100%;
  }
  .list .listItem li {
    font-size: 2rem;
    margin: 2px -10px;
  }
  .list .listItem li:hover {
    font-size: 2rem;
  }
} */
@media (max-width: 800px) {
  .menu.menuOpen {
    width: 75%;
  }
  .list .listItem li {
    font-size: 2em;
    margin: 2px -10px;
  }
  .list .listItem li:hover {
    font-size: 2em;
  }
}
.menu.menuClose {
  position: absolute;
  left: -100%;
  height: 100vh;
  top: 0;
  background: rgb(43, 43, 43);
  -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
  width: 30%;
  transition: 0.25s left cubic-bezier(0.77, 0, 0.175, 1);
}
